-e .
black==25.1.0
coverage==7.8.0
mypy==1.15.0
pdoc==15.0.3
pip==25.1.1
pre-commit==4.2.0
pytest-cov==6.1.1
pytest==8.3.5
ruff==0.11.10

mashumaro==3.15
syrupy==4.9.1
python-slugify==8.0.4
aiohttp==3.11.18
pytest-asyncio==0.26.0
