-e .
coverage==7.15.0
ty==0.0.58
pdoc==16.0.0
pip==26.1.2
pre-commit==4.6.0
pytest-cov==7.1.0
pytest==9.1.1
ruff==0.15.21

mashumaro==3.22
syrupy==5.5.3
python-slugify==8.0.4
aiohttp==3.14.1
pytest-asyncio==1.4.0
