-e .
black==25.1.0
coverage==7.9.1
mypy==1.16.1
pdoc==15.0.4
pip==25.1.1
pre-commit==4.2.0
pytest-cov==6.2.1
pytest==8.4.0
ruff==0.11.13

mashumaro==3.16
syrupy==4.9.1
python-slugify==8.0.4
aiohttp==3.12.13
pytest-asyncio==1.0.0
